ip: 192.168.10.12
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~/Sites/ck-api
        to: /home/vagrant/ck-api
sites:
    -
        map: api.connectedkingston.test
        to: /home/vagrant/ck-api/public
        php: "7.2"
databases:
    - ck_dev
    - ck_testing
name: ck-api
hostname: ck-api
