<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="BCRYPT_ROUNDS" value="4"/>
    <server name="APP_ENV" value="testing"/>
    <server name="LOG_CHANNEL" value="testing"/>
    <server name="DB_HOST" value="mysql-testing"/>
    <server name="DB_PORT" value="3306"/>
    <server name="DB_DATABASE" value="connected_kingston"/>
    <server name="DB_USERNAME" value="connected_kingston"/>
    <server name="DB_PASSWORD" value="secret"/>
    <server name="FILESYSTEM_CLOUD" value="testing_cloud"/>
    <server name="SESSION_LIFETIME" value="20"/>
    <server name="QUEUE_DRIVER" value="sync"/>
    <server name="REDIS_CLUSTER" value="redis"/>
    <server name="REDIS_SCHEME" value="tcp"/>
    <server name="REDIS_HOST" value="redis-testing"/>
    <server name="REDIS_PASSWORD" value="(null)"/>
    <server name="REDIS_PORT" value="7000"/>
    <server name="GEOCODE_DRIVER" value="stub"/>
    <server name="EMAIL_DRIVER" value="&quot;null&quot;"/>
    <server name="SMS_DRIVER" value="&quot;null&quot;"/>
    <server name="SCOUT_ELASTIC_HOST" value="elasticsearch"/>
    <server name="SCOUT_PREFIX" value="testing_"/>
    <server name="OTP_ENABLED" value="(true)"/>
  </php>
</phpunit>
