---
# Environment Variables
APP_DEBUG:
APP_ENV:
APP_KEY:
APP_URL:
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
AWS_DEFAULT_REGION:
AWS_BUCKET:
BACKEND_URI:
BUGSNAG_API_KEY:
GLOBAL_ADMIN_EMAIL:
GOOGLE_API_KEY:
GOV_NOTIFY_API_KEY:
SQS_KEY:
SQS_PREFIX:
SQS_QUEUE:
SQS_REGION:
SQS_SECRET:

# Manifest Variables
db-service-name:
redis-service-name:
search-service-name:
route:
