@import "node_modules/govuk-frontend/all";

body {
  margin: 0;
}

.govuk-button {
  &.govuk-button--error {
    background-color: $govuk-error-colour;

    &:hover,
    &:focus {
      background-color: darken($govuk-error-colour, 5%);
    }
  }
}

.govuk-header {
  background-color: #485b7f;

  &__link--homepage {
    margin-right: 1rem;
  }
}

.govuk-header__logotype-crown {
  width: 100%;
}

.govuk-header__container {
  margin-bottom: 10px !important;
  border-bottom: none !important;
}

.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:hover, .govuk-header__navigation-item--active a:visited {
  color: #75d0c4 !important;
}

.govuk-button {
  background-color: #485b7f !important;
  box-shadow: 0 2px 0 #003618 !important;;
  -webkit-box-shadow: 0 2px 0 #003618 !important;;
}

.govuk-button:hover, .govuk-button:focus {
  background-color: #263146 !important;;
}