@import "node_modules/govuk-frontend/all";

body {
  margin: 0;
}

.govuk-button {
  &.govuk-button--error {
    background-color: $govuk-error-colour;

    &:hover,
    &:focus {
      background-color: darken($govuk-error-colour, 5%);
    }
  }
}

.govuk-header {
  background-color: #485b7f;

  &__link--homepage {
    margin-right: 1rem;
  }
}

.govuk-header__logotype-crown {
  width: 100%;
}
